chromadb==0.4.24
groq==1.2.0
langchain-text-splitters==0.2.2
pandas==2.2.2
pypdf==4.2.0
python-dotenv==1.0.1
sentence-transformers==2.6.1
streamlit==1.36.0
numpy==1.26.4
torch==2.1.2
transformers==4.38.2